*
!crates/wazuh-cert-oauth2-server/src
!crates/wazuh-cert-oauth2-server/Cargo.lock
!crates/wazuh-cert-oauth2-server/Cargo.toml
!crates/wazuh-cert-oauth2-server/Rocket.toml

!crates/wazuh-cert-oauth2-model/src
!crates/wazuh-cert-oauth2-model/Cargo.toml
!crates/wazuh-cert-oauth2-model/Cargo.lock